/* MAKE A FRIEND ---------------------------------------------------------------------------------------*/

.make-a-friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: nowrap;

    margin-top: 60px;
}

.make-a-friend  .text-container {
    display: flex;
    flex-direction: column;

    margin-top: 163px;
    max-width: 460px;
    gap: 42px;
}

.make-a-friend .text-container h2 {
    width: 310px;
    margin: 0;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    
    color: #FFFFFF;
}

.make-a-friend .text-container p {
    margin: 0;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    
    color: #CDCDCD;
}

.make-a-friend .text-container .button-container button {
    width: 207px;
    height: 52px;
    padding: 0;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #292929;

    background: #F1CDB3;
    border-radius: 100px;
    border: 0;
}

.make-a-friend .text-container .button-container button:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.make-a-friend img {
    margin-left: 42px;
    width: 698px;
    height: 728px;
}

@media(max-width: 1239px) {
    .make-a-friend {
        flex-direction: column;
        align-self: center;
    }

    .make-a-friend  .text-container {
        flex-shrink: 1;
        margin-top: 0;

        align-self: center;
    }

    .make-a-friend  .text-container .button-container{
        align-self: center;
    }

    .make-a-friend img {
        margin-top: 100px;
        margin-left: 140px;
        width: 569px;
        height: 593px;
    }
}

@media(max-width: 729px) {

    .make-a-friend {
        align-items: center;
    }

    .make-a-friend .text-container {
        align-items: center;
    }

    .make-a-friend .text-container h2 {
        text-align: center;

        font-size: 25px;
        line-height: 129%;
        letter-spacing: 0.06em;
    }

    .make-a-friend .text-container p {
        text-align: center;
    }

    .make-a-friend img {
        margin-top: 105px;
        margin-left: 40px;
        width: 260px;
        height: auto;
    }
}

@media(max-width: 320px) {
    .make-a-friend .text-container {
        max-width: 300px;
    }
}